aftestdatafactorykrati/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "aftestdatafactorykrati"
		},
		"BlobTrigger_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/0e8d2934-7afe-475a-8462-6428ccba5694/resourceGroups/myresourcegroup/providers/Microsoft.Storage/storageAccounts/sqlvagzclugwtw6xpq"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Employee Details Extract')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Extracts the data from Database and creates a csv file",
				"activities": [
					{
						"name": "Check if Job Exists",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[checkjobexists]",
								"storedProcedureParameters": {
									"id": {
										"type": "Int32",
										"value": {
											"value": "@variables('JobId')",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "JobFlag",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "If Job Exists",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Check if Job Exists",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Check if Job Exists').output.firstRow.flag,1)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Log Failed",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[insertjobhistory]",
										"storedProcedureParameters": {
											"job_id": {
												"value": {
													"value": "@variables('JobId')",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"status": {
												"value": "Job Failed",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "himacdbserverLinkedService",
										"type": "LinkedServiceReference"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Select Top 100 from Employee",
									"description": "Selecting directly from table",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": "SELECT TOP 100 * FROM dbo.Employee",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "Employee",
											"type": "DatasetReference",
											"parameters": {}
										},
										"firstRowOnly": false
									}
								},
								{
									"name": "Employee Details Extract",
									"type": "AzureFunctionActivity",
									"dependsOn": [
										{
											"activity": "Select Top 100 from Employee",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"functionName": "EmployeeDetailExtract",
										"method": "GET",
										"headers": {}
									},
									"linkedServiceName": {
										"referenceName": "FnEmployeeDetailExtract",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Log Job Successful",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Employee Details Extract",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[insertjobhistory]",
										"storedProcedureParameters": {
											"job_id": {
												"value": {
													"value": "@variables('JobId')",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"status": {
												"value": "Job Completed Successfully",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "himacdbserverLinkedService",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Log Job Fail",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Select Top 100 from Employee",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Employee Details Extract",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Log Job Successful",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Update Schedule Status Idle",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[insertjobhistory]",
										"storedProcedureParameters": {
											"job_id": {
												"value": "1",
												"type": "Int32"
											},
											"status": {
												"value": "Job Failed",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "himacdbserverLinkedService",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Update Schedule Status Idle",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Log Job Successful",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[UpdateRunStatusAndNextRunOnCompletion]",
										"storedProcedureParameters": {
											"jobid": {
												"value": {
													"value": "@variables('JobId')",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"nextRunDate": {
												"value": {
													"value": "12/31/9999 12:00:00",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"runStatus": {
												"value": "Idle",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "himacdbserverLinkedService",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Update schedule Status idle with excepiton",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Log Job Fail",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[UpdateRunStatusAndNextRunOnCompletion]",
										"storedProcedureParameters": {
											"jobid": {
												"value": {
													"value": "@variables('JobId')",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"nextRunDate": {
												"value": "12/31/9999 12:00:00",
												"type": "DateTime"
											},
											"runStatus": {
												"value": "Idle with Exception",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "himacdbserverLinkedService",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"variables": {
					"JobId": {
						"type": "String",
						"defaultValue": "1"
					}
				},
				"annotations": [],
				"lastPublishTime": "2020-11-20T21:53:41Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Load Employee Details')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Check if Job Exists",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[checkjobexists]",
								"storedProcedureParameters": {
									"id": {
										"type": "Int32",
										"value": {
											"value": "@variables('jobid')",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "JobFlag",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "If job exists",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Check if Job Exists",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Get trigger file detail",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Get input file detail",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@and( equals(activity('Check if Job Exists').output.firstRow.flag,1) \n   , and(equals(activity('Get input file detail').output.Exists,true)\n            ,equals(activity('Get trigger file detail').output.Exists,true) \n            ) \n)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Log Job Failed",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[insertjobhistory]",
										"storedProcedureParameters": {
											"job_id": {
												"value": {
													"value": "@variables('jobid')",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"status": {
												"value": "Job Failed",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "himacdbserverLinkedService",
										"type": "LinkedServiceReference"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Load Employee Detail",
									"type": "AzureFunctionActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"functionName": "LoadEmployeeDetail",
										"method": "POST",
										"headers": {},
										"body": {
											"value": "{\n    \"container\":\"employee\",\n    \"filename\":\"incoming/employee.csv\"\n}",
											"type": "Expression"
										}
									},
									"linkedServiceName": {
										"referenceName": "FnLoadEmployeeDetail",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Log JobHistory",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Load Employee Detail",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[insertjobhistory]",
										"storedProcedureParameters": {
											"job_id": {
												"value": {
													"value": "@variables('jobid')",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"status": {
												"value": "Job Completed Successfully",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "himacdbserverLinkedService",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Delete Input",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Load Employee Detail",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "EmployeeFile",
											"type": "DatasetReference",
											"parameters": {}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true
										}
									}
								},
								{
									"name": "Delete Trigger",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Load Employee Detail",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "EmployeeTriggerFile",
											"type": "DatasetReference",
											"parameters": {}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true
										}
									}
								},
								{
									"name": "Log Failed",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Load Employee Detail",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[insertjobhistory]",
										"storedProcedureParameters": {
											"job_id": {
												"value": {
													"value": "@variables('jobid')",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"status": {
												"value": "Job Failed",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "himacdbserverLinkedService",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "Get input file detail",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "EmployeeFile",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Get trigger file detail",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "EmployeeTriggerFile",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					}
				],
				"variables": {
					"jobid": {
						"type": "String",
						"defaultValue": "2"
					}
				},
				"annotations": [],
				"lastPublishTime": "2020-11-23T06:58:44Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BlobTrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Load Employee Details",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/employee/blobs/incoming/",
					"blobPathEndsWith": "trigger.trg",
					"ignoreEmptyBlobs": false,
					"scope": "[parameters('BlobTrigger_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Load Employee Details')]"
			]
		}
	]
}