pipeline/IMAP Fee Solution.json
{
	"name": "IMAP Fee Solution",
	"properties": {
		"activities": [
			{
				"name": "Check if Job Exists",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[checkjobexists]",
						"storedProcedureParameters": {
							"id": {
								"type": "Int32",
								"value": {
									"value": "@variables('jobid')",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "JobFlag",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If job exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check if Job Exists",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get trigger file detail",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get input file detail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and( equals(activity('Check if Job Exists').output.firstRow.flag,1) \n   , and(equals(activity('Get input file detail').output.Exists,true)\n            ,equals(activity('Get trigger file detail').output.Exists,true) \n            ) \n)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Log Job Failed",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[insertjobhistory]",
								"storedProcedureParameters": {
									"job_id": {
										"value": {
											"value": "@variables('jobid')",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"status": {
										"value": "Job Failed",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "himacdbserverLinkedService",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "FSIMAP",
							"type": "AzureFunctionActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"functionName": "HttpTrigger",
								"method": "POST",
								"body": {
									"value": "{\n    \"container\":\"imapfeesolution\",\n    \"filename\":\"incoming/imapfee.csv\"\n}",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "FSIMAPFunction",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Log JobHistory",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "FSIMAP",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[insertjobhistory]",
								"storedProcedureParameters": {
									"job_id": {
										"value": {
											"value": "@variables('jobid')",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"status": {
										"value": "Job Completed Successfully",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "himacdbserverLinkedService",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Delete Input",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "FSIMAP",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "IMAPFeeSolutionFile",
									"type": "DatasetReference"
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								}
							}
						},
						{
							"name": "delete Trigger",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "FSIMAP",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "TriggerFile",
									"type": "DatasetReference"
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								}
							}
						},
						{
							"name": "Log Failed",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "FSIMAP",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[insertjobhistory]",
								"storedProcedureParameters": {
									"job_id": {
										"value": {
											"value": "@variables('jobid')",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"status": {
										"value": "Job Failed",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "himacdbserverLinkedService",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Get input file detail",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "IMAPFeeSolutionFile",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Get trigger file detail",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "TriggerFile",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			}
		],
		"variables": {
			"jobid": {
				"type": "String",
				"defaultValue": "2"
			}
		},
		"annotations": [],
		"lastPublishTime": "2020-11-23T06:58:44Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}